[Desktop Entry]
Name=Paintly
GenericName=Image Editor
Comment=Fast, simple raster paint program
Exec=paintly %f
Icon=io.github.nilpotent7.Paintly
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
MimeType=image/png;image/jpeg;image/bmp;image/gif;
Keywords=paint;draw;drawing;image;editor;raster;bitmap;sketch;canvas;
StartupNotify=true
StartupWMClass=Paintly